<div class="container">
  <div class="grid-item grid-header">
    <app-navigation></app-navigation>

    <div class="grid-header-buttons">
      @for (filter of filterOptions; track filter) {
        <app-button
          [active]="active()"
          [title]="filter"
          (onSetFilter)="setFilter($event)">
        </app-button>
      }
    </div>
  </div>

  @if (dataSig()) {
    @for (item of dataSig(); track item['title']) {
      <app-grid-box
        [item]="item"
        [active]="active()">
    </app-grid-box>
    }
  }
</div>
